<div class="jumbotron jumbotron-fluid">
    <button class="btn btn-outline-primary rounded-circle btn-reset float-right" (click)="generateRandom()"><i class="fas fa-sync-alt"></i></button>
    <div class="container text-center">
        <button *ngFor="let rnd of random" class="round-button mr-3" [style.backgroundColor]="rnd.color" (click)="selectedNum(rnd)"><span>{{ rnd.number }}</span></button>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-4">
            <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">You have selected</h5>
                  <div class="border p-2 text-white" [style.backgroundColor]="selected.color"><h1 class="font-weight-light">{{ selected.number }}</h1></div>
                </div>
            </div>
        </div>
    </div>
</div>